.App {
  text-align: center;
}

.edit-button {
  display: flex;
  justify-content: center;
  text-align: left;
}

.edit-button button {
  margin: 5px;
  width: 120px;
  /* text-align: center; */
}

.paw {
  color: #b67ed8;
}

.paw:first-child {
  transform: rotate(-20deg);
  animation: rotation 2s infinite linear;
  animation-direction: alternate;
}

@keyframes rotation {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}

.paw:nth-child(2) {
  transform: rotate(20deg);
  animation: rotation 2s infinite linear;
  animation-direction: alternate-reverse;
}

#title {
  font-size: 3.4rem;
}

main {
  border-top: 1px solid #b67ed8;
  margin-top: 3rem;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 6px;
}

.dog-div {
  margin: 32px 0;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 5px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

form {
  margin: 10px;
}

.form-submit-button {
  margin: 5px;
}

@media screen and (min-width: 768px) {

  #title {
    font-size: 6.6rem;
  }

  .dog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .dog-div {
    width: 200px;
    height: 310px;
    margin: 10px;
  }

  img {
    width: 150px;
    height: 150px;
  }

  .dog-div h1, .dog-div h3 {
    margin: 0;
  }

  .edit-button {
    margin-bottom: 4px;
  }

  .edit-button button {
    width: 70px;
    font-size: 12px;
    padding: 0;
  }

  .form-container {
    display: flex;
    justify-content: center;
  }

  form {
    width: 40%;
  }

}