.App {
  text-align: center;
}

.edit-button {
  display: flex;
  justify-content: center;
  text-align: left;
}

.edit-button button {
  margin: 5px;
  width: 120px;
  /* text-align: center; */
}

.paw {
  color: #b67ed8;
}

.paw:first-child {
  transform: rotate(-20deg)
}

.paw:nth-child(2) {
  transform: rotate(20deg)
}

h1 {
  font-size: medium;
}

main {
  border-top: 1px solid #b67ed8;
  margin-top: 3rem;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.dog-div {
  margin: 32px 0;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 5px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
