.App {
  text-align: center;
}

.edit-button {
  display: flex;
  justify-content: center;
  text-align: left;
}

.edit-button button {
  margin: 5px;
  width: 120px;
  /* text-align: center; */
}

.paw {
  color: #b67ed8;
}

.paw:first-child {
  transform: rotate(-20deg)
}

.paw:nth-child(2) {
  transform: rotate(20deg)
}
